In [6]:
from sqlalchemy import create_engine

DATABASE_URI = 'postgresql://{user}:{password}@{host}:{port}/{database}'


engine = create_engine(
    DATABASE_URI.format(
        host='localhost',
        database='postgres',
        user='postgres',
        password='dbMaks2401',
        port=5432,
    )
)

In [9]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, String, Integer, ForeignKey
from sqlalchemy import delete

Base = declarative_base()

class Student(Base):
    __tablename__ = 'student'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    age = Column(Integer)

    def __str__(self):
        return f'This is {self.id} student {self.name}. Age: {self.age}'

    def __repr__(self):
        return f'This is {self.id} student {self.name}. Age: {self.age}'
    


class Subject(Base):
    __tablename__ = 'subject'

    id = Column(Integer, primary_key=True)
    name = Column(String)

    def __str__(self):
        return f'This is {self.id} subject {self.name}.'
    def __repr__(self):
        return f'This is {self.id} subject {self.name}.'

C:\Users\compras02\AppData\Local\Temp\ipykernel_29044\740602209.py:5: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [11]:
class Student_subject(Base):
    __tablename__ = 'student_subject'

    id = Column(Integer, primary_key=True)
    student_id = Column(Integer, ForeignKey('student.id'))
    subject_id = Column(Integer, ForeignKey('subject.id'))


    def __str__(self):
        return f'This is a student {self.student_id} with subject {self.subject_id}.'
    def __repr__(self):
        return f'This is a student {self.student_id} with subject {self.subject_id}.'

In [12]:
Base.metadata.create_all(engine)

In [8]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)

session = Session()

In [147]:
session.close()

In [67]:

sub4 = Subject(name = 'Ukrainian')

# new_student_subject = Student_subject(student_id = 1, subject_id = 1)
# session.add(new_student_subject)
# new_subject = Subject(name = 'English')


session.add(sub4)
# # new_student
# print(new_student_subject.student_id, new_student_subject.subject_id)
# ('English'), ('Math'), ('Spanish'), ('Spanish')

In [93]:
session.commit()

In [13]:
denis = session.query(Student).all()
sub = session.query(Subject).all()
sud_sab = session.query(Student_subject).all()
print(denis)
print(sud_sab)
print(sub)

[This is 1 student Denis. Age: 25, This is 2 student Brian. Age: 19, This is 3 student Lee. Age: 19, This is 4 student Brian. Age: 23, This is 5 student Eric. Age: 25, This is 6 student Benedict. Age: 25, This is 7 student Andrea. Age: 23, This is 8 student Brian. Age: 25, This is 9 student Brian. Age: 22, This is 10 student Brian. Age: 22, This is 11 student Brian. Age: 18]
[This is a student 1 with subject 3., This is a student 1 with subject 1., This is a student 2 with subject 4., This is a student 3 with subject 2., This is a student 4 with subject 1., This is a student 5 with subject 3., This is a student 6 with subject 3., This is a student 7 with subject 1., This is a student 8 with subject 4., This is a student 9 with subject 1., This is a student 10 with subject 3., This is a student 1 with subject 2.]
[This is 1 subject English., This is 2 subject Math., This is 3 subject Spanish., This is 4 subject Ukrainian.]

In [94]:
from random import randint, choice
random_names = ['Joe', 'Winston', 'Benedict', 'Andrea', 'Fillipe', 'Iria', 'Eric', 'Joan', 'Pablo', 'Brian', 'Timothy', 'Lee']

for _ in range(10):
    student = Student(name=choice(random_names), age=randint(18, 25))
    session.add(student)

session.commit()

In [156]:
for ss, st, sb in session.query(Student_subject, Student, Subject).\
    filter(Student_subject.student_id == Student.id, 
           Student_subject.subject_id == Subject.id).filter(Subject.name == 'English').all():
    print(f'{ss.student_id}, {st.name}, {st.age}, {sb.name}')



# 1, Denis, 25, English
# 4, Brian, 23, English
# 7, Andrea, 23, English
# 9, Brian, 22, English

1, Denis, 25, English
4, Brian, 23, English
7, Andrea, 23, English
9, Brian, 22, English